<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Cadastrar Produto</title>
</head>
<body>
<section>
    <h2>Cadastrar Produto</h2>
    <form action="/produtos/cadastrar" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label for="caminhoImagem" class="form-label">Imagem do Produto</label>
            <input type="file" class="form-control" id="caminhoImagem" name="caminhoImagem" accept="image/*" required>
        </div>

        <div class="mb-3">
            <label for="preco" class="form-label">Preço</label>
            <input type="text" class="form-control" id="preco" name="preco" inputmode="decimal" required>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</section>
</body>
</html>